@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Our competitors laughed when they saw our name, but when they saw our prices they weren't laughing anymore. Blow Out Rentals was created to help future music lovers acquire the instruments they need at prices they can afford.</p>
