
@{
    ViewBag.Title = "Index";
}
<!--Jumbotron with title-->
<div class="jumbotron">
    <h2>Contact</h2>
    <!--Default message-->
    Please call support at <u><b>801-555-1212</b></u>. Thank you!
</div>
